{% set util = salt['grains.filter_by']({
    'Debian': {
        'htop': 'htop',
        'dstat': 'dstat',
        'vim': 'vim',
        'glances': 'glances',
        'git': 'git',
        'sysdig': 'curl -s https://s3.amazonaws.com/download.draios.com/stable/install-sysdig | bash',
    },
    'RedHat': {
        'htop': 'htop',
        'dstat': 'dstat',
        'vim': 'vim',
        'glances': 'glances',
        'git': 'git',
        'sysdig': 'curl -s https://s3.amazonaws.com/download.draios.com/stable/install-sysdig | bash',
    },
}) %}
